//FONT-----------------

$font-s1: 0.8rem;
$font-l1: 1.1rem;
$font-l2: 1.2rem;
$font-l3: 1.4rem;
$font-l4: 1.6rem;

//COLORS----------------

$accent-color: #fff;
$accent-inverse-color: #000;

$primary-color: #327372;
$primary-color-l1: #439997;
$primary-color-l2: #4fb3b1;
$primary-inverse-color: #70fffc;

$secondary-color: yellow;
