@import '../config/constants';

.main-container + .main-container {
  margin-top: 2em;
}

.main-container {
  color: $accent-color;
  border: 1px solid rgba(98, 196, 196, 0.7);
  box-shadow: 1px 1px 4px 2px rgba(98, 196, 196, 0.7);
  margin: 1em 2em;
  padding: 1em;
}

.profile-container {
  display: flex;
  flex-direction: column;

  .field {
    h1 {
      font-size: $font-l4;
    }

    p {
      color: $primary-inverse-color;
      font-size: $font-s1;
      font-weight: 700;
      margin-bottom: 0;
    }
  }

  .bottom {
    margin: 2em auto 1em;
    align-self: center;
  }
}

.info {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .profile-container-items {
    display: flex;
    padding-left: 2em;
    padding-right: 2em;

    .left {
      flex: 2;
    }

    .right {
      flex: 3;
      margin-left: 2em;
    }
  }

  .user-profile-job-list {
    display: flex;

    .active-jobs {
      flex: 2;
      margin-right: 2em;
    }

    .archived-jobs {
      flex: 1;
      margin-left: 1em;
      padding-left: 1em;
      border-left: 1px solid $primary-color-l2;
    }
  }
}

@media (min-width: 1080px) {
  .profile-container-items .right {
    margin-left: 1em;
  }

  .user-profile-job-list .active-jobs {
    margin-right: 4em;
  }
}
